/* Estilos CSS para la página */
body{
  background: linear-gradient(rgb(111, 101, 248), rgb(59, 20, 231));
}

.computer-section {
    border-radius: 10px;
    border: 3px solid #6680d4;
    padding: 10px;
    margin-bottom: 10px;
    width: 700px;
  }
  
  .computer-section h2 {
    margin-top: 0;
    font-size: 22px;
    font-style: normal;
    color: khaki;
    
  }
  
  .computer-section button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #0a5005;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .computer-section button:hover {
    background-color: #3e8e41;
  }
  
  #timer {
    left: 40px;
    top: -50px;
    position: relative;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }